body{
  margin: 0px;
}

.main-layout{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

div{
  border: 1px solid red;
}

.header div{
  border: 1px solid blue;
}

.nav-bar{
  width: 400px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.header{
  height: auto;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

h1, h2, p {
  margin: 5px;
}

.businessName{
  border: 2px solid rgb(208, 36, 255);
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-top: 20px;
}

/*add image and specifications*/
.aboutPic{
  border: 2px solid rgb(208, 36, 255);
  height: 300px;
  width: 75%;
  margin-top: 20px;
}

.aboutText{
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 20px;
 text-align: center;
}

.aboutText h2{
  margin-bottom: 0px;
}

.aboutText div{
  border: 2px solid rgb(53, 216, 146);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}


.footer{
  height: 70px;
  background-color: rgb(103, 103, 103);
  display: flex;
}

.rights{
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 12px;
}

.socialButtons {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.socialButtons div{
  padding-top: 10px;
  padding-bottom: 10px;
}