body{
  margin: 0px;
}

.main-layout{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* .header div{
  border: 1px solid blue;
} */

.nav-bar{
  width: 400px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  
}

.main{
  display: flex;
  flex-direction: column;
}

ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  
}

a:link, a:visited {
  text-decoration: none; 
  color:white;
  }

  
a:hover, a:active {
  color: rgb(17, 65, 86);
  text-decoration: none; 
}

.header{
  height: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.main-background {
  /* border: 2px solid rgb(208, 36, 255); */
  display: flex;
  background: url(/images/nathon-oski-EW_rqoSdDes-unsplash.jpg);
  background-color: gray;
  background-blend-mode: luminosity;
  background-size: 100%;
  background-position: 50% 10%;
  height: 425px;
}

.main-text{
  /* border: 1px solid green; */
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1, h2, p, button {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
.main-text h1 {
  font-size: 45px;
  color: rgb(255, 255, 255);
  background-color: rgb(17, 65, 86);
  margin-top: 50px;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding: 20px 30px;
  /* adding a bit more space between edge of container and text */
  /* no reason, just style preference. i think it looks a little less tight */
}

.main-text p {
  margin-top: 20px;
  max-width: 600px;
  background-color: rgb(37, 37, 37);
  text-align: center;
  /* padding: 10px; */
  padding: 20px 30px;
  /* same reason as above */
}

button{
  /* width: 120px;
  padding: 5px; */
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background-color: rgb(17, 65, 86);
  /* setting width as auto */
  width: auto;
  /* which allows me to create the width and height with padding */
  padding: 10px 20px;
  /* when using a button, always add cursor: pointer. even if this example doesn't lead anywhere when clicked */
  cursor: pointer;
  /* added a box shadow to make it stand out a bit */
  box-shadow: 4px 4px 8px 0px #5c5a5a;
  /* a little border-radius to soften the corners */
  border-radius: 8px;
  /* added hover so of course we need a smooth transition */
  transition: all 250ms ease-in;
}
button:hover {
  /* this shadow slightly changes. added the spread*/
  box-shadow: 4px 4px 6px 2px #5c5a5a;
  /* move the button up one */
  transform: translateY(-1px);
  /* switch text color and bg color */
  color: rgb(17, 65, 86);
  background-color: white;
}
/* i love buttons. so much involved. so i went at it! lol */

@media (max-width: 576px) {
  .main-subSection1 ul{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a"
    "a"
    "a";
  }
  .main-text{
    max-width: 80%;
  }
  .main-background{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0;
    min-height: 425px;
    height: auto;
    /* i'd add a bit more space between the text in the main-background element and the header and subSection */
    /* adding min-height means the element will at least be 425px but because of padding 60px, its allowed to be bigger */
    /* set height: auto because you have height: 425px on default so this resets it and allows the main-background element to get bigger. */
  }
  }
  .nav-bar{
    width: 90vw;
  }


.main-subSection1 {
  display: flex;
  flex: 1;
  /* border: 2px solid rgb(0, 255, 64); */
  background-color: rgb(255, 255, 255);
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 0;
  /* adding a bit more space between top element and bottom element */
} 

.main-subSection1 ul {
  width: 100vw;
}

.main-subSection1 ul li img {
  opacity: .75;
  border: 2px solid rgb(37, 37, 37);
  width: 200px;
  height: 150px;
  margin-top: 20px;
}

.main-subSection1 ul li img:hover {
  opacity: 1;
  transition: .5s ease-in-out;
}

.main-subSection1 ul li span{
  color: black;
  font-weight: bolder;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  justify-content: center;
  display: flex;
  /* border: 3px solid blue; */
}

.footer{
  height: 70px;
  background-color: rgb(37, 37, 37);
  display: flex;
}

.rights{
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 12px;
  margin-left: 20px;
}
/* 
.socialButtons {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.socialButtons div{
  padding-top: 10px;
  padding-bottom: 10px;
} */